{{ define "menu" }}
<div class="navbar navbar-expand-sm fixed-top navbar-dark bg-secondary">
    <div class="container">
        <a href="/" class="navbar-brand">{{ .Title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/new-account/">New account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/config/">Config</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts">Accounts</a>
                </li>
            </ul>

        </div>
    </div>
</div>
{{ end }}